name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew make
        
      - name: Push to builds
        run: |
          mkdir -p $GITHUB_WORKSPACE/builds
          # Cerca il file .cs3 ovunque (quindi anche in Chaturbate/) e lo copia
          find . -name "*.cs3" -exec cp {} $GITHUB_WORKSPACE/builds/Chaturbate.cs3 \;
          # Cerca il file plugins.json generato e lo rinomina come vuoi tu
          find . -name "plugins.json" -exec cp {} $GITHUB_WORKSPACE/builds/SXXX.json \;

      - name: Deploy to Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds
          FOLDER: builds
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
